<div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon">
                <i class="fa fa-home" aria-hidden="true"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Flower Store</div>
        </a>

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span>Dashboard</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Interface
        </div>


        <li class="nav-item">
            <a class="nav-link" (click)="showTable()">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span>Flower List</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" (click)="showTable2()">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span>Order List</span></a>
        </li>

        <hr class="sidebar-divider d-none d-md-block">
    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
        <router-outlet></router-outlet>
    </div>

</div>