<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <form id="loginForm" class="sign-in-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input ngModel name="username" type="text" placeholder="Username" required #username="ngModel"
                        aria-describedby="usernameId" />
                    <small id="usernameId" *ngIf="!username?.valid && (username?.dirty || username?.touched)"
                        class="form-text">
                        User name is invalid
                    </small>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input ngModel name="password" type="password" placeholder="Password" required minlength="6"
                        maxlength="20" #password="ngModel" aria-describedby="passwordId" />
                    <small id="passwordId" *ngIf="!password?.valid && (password?.dirty || password?.touched)"
                        class="form-text">
                        Password is invalid
                    </small>
                </div>
                <button type="submit" class="btn solid">Login</button>
            </form>
        </div>
    </div>
</div>