<div class="container">
    <section class="wrapper">
        <h2 class="h5 text-uppercase mb-4 checkout-title">Billing details</h2>
        <div class="row">
            <div class="col-lg-8">
                <form (ngSubmit)="submitOrder()" #checkoutForm="ngForm">
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="firstName">Your name</label>
                            <input required aria-describedby="usernameId" ngModel #nameUser="ngModel"
                                class="form-control form-control-lg" name="nameUser" type="text"
                                placeholder="Enter your first name">
                            <small id="usernameId" *ngIf="!nameUser?.valid && (nameUser?.dirty || nameUser?.touched)"
                                class="form-text">
                                Name is invalid
                            </small>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="phone">Phone number</label>
                            <input required aria-describedby="PhoneId" ngModel #phoneUser="ngModel"
                                class="form-control form-control-lg" name="phoneUser" type="tel"
                                placeholder="e.g. +02 245354745">
                            <small id="PhoneId" *ngIf="!phoneUser?.valid && (phoneUser?.dirty || phoneUser?.touched)"
                                class="form-text">
                                Phone is invalid
                            </small>
                        </div>
                        <div class="col-lg-12 form-group">
                            <label class="text-small text-uppercase" for="address">Address</label>
                            <input required aria-describedby="addressId" ngModel #addressUser="ngModel"
                                class="form-control form-control-lg" name="addressUser" type="text"
                                placeholder="House number and street name">
                            <small id="addressId"
                                *ngIf="!addressUser?.valid && (addressUser?.dirty || addressUser?.touched)"
                                class="form-text">
                                Address is invalid
                            </small>
                        </div>
                        <div class="col-lg-12 form-group">
                            <button type="submit" class="btn btn-dark">Place order</button>
                        </div>
                        <div class="col-lg-12 form-group">
                            <button [routerLink]="['/']" class="btn btn-dark">Back to Home</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="card border-0 rounded-0 p-lg-4 bg-light">
                    <div class="card-body">
                        <h5 class="text-uppercase mb-4">Your order</h5>
                        <ul class="list-unstyled mb-0">
                            <li *ngFor="let item of carts" class="d-flex align-items-center justify-content-between">
                                <strong class="small font-weight-bold">
                                    {{item.productName}}
                                </strong>
                                <span class="text-muted small">{{item.subtotal | currency: 'VND'}}</span>
                            </li>
                            <li class="border-bottom my-2"></li>
                            <li class="d-flex align-items-center justify-content-between">
                                <strong class="text-uppercase small font-weight-bold">
                                    Total
                                </strong>
                                <span>{{getCartTotal()|currency: 'VND'}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>